*.cache
/ProjektCode/APItoDB/obj/project.assets.json
/ProjektCode/APItoDB/obj/Debug/netcoreapp3.1/APItoDB.AssemblyInfo.cs
/ProjektCode/APItoDB/obj/APItoDB.csproj.nuget.dgspec.json
/ProjektCode/APItoDB/obj/APItoDB.csproj.nuget.g.targets
/ProjektCode/APItoDB/obj/Debug/netcoreapp3.1/APItoDB.GeneratedMSBuildEditorConfig.editorconfig
